# lambda exp,map and filter

In [1]:
def cube(num):
    return num**3

cube(2)

In [2]:
cube(2)

8

In [3]:
my_num=[1,2,3,4,5,6,7,8,9,10]

my problem is to pass each and every individual item of the list to the function as an argument and then store the result returned through the function in an list[]

In [5]:
my_num_cubes=[]
for i in my_num:
    my_num_cubes.append(cube(i))

In [6]:
my_num_cubes

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [7]:
my_num_cubes=list(map(cube,my_num))

In [8]:
my_num_cubes

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

# filter

In [9]:
def check_even(num):
    return num%2==0

In [10]:
check_even(8)

True

In [11]:
my_num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

my problem is- i want to filter out all the objects which are satisfying the particular case ,in the given function and if the rsult is true add the objects in the new list

In [21]:
my_even_num=[]
for i in my_num:
    if(check_even(i)):
        my_even_num.append(i)

In [22]:
my_even_num

[2, 4, 6, 8, 10]

In [24]:
my_new_even_num=list(filter(check_even,my_num))

In [25]:
my_new_even_num

[2, 4, 6, 8, 10]

# lambda exp.

step 1

In [26]:
def square(num):
    result=num**2
    return result

In [27]:
square(2)

4

In [28]:
def square(num):
    return num**2

In [29]:
square(2)

4

In [30]:
def square(num): return num**2

In [31]:
square(3)

9

for small scale functions in which i wan to run a single line exp.that to by keeping in mind the design scenes of the overall program and minimizing the number of lines of codes and even for defining rapidly in a single line in ad-hoc situations

In [33]:
squ=lambda num:num**2

In [34]:
squ(2)

4

In [37]:
def check_odd(num):
    result =not num%2==0
    return result

In [38]:
check_odd_new=lambda num:not num%2==0

In [39]:
check_odd_new(7)

True

In [40]:
my_new_odd_num=list(filter(lambda num:not num%2==0,my_num))

In [41]:
my_new_odd_num

[1, 3, 5, 7, 9]

# u r an director of a college,u wnat to reward all the students who got more than 85 marks in final exams,for ordering out the number of awards u need a final count,make a small python script in which u can use lambda exp& filter method to get the count of students
list of marks=[45,67,89,56,98,82,32,74,68,59,90,73]

In [56]:
my_marks=[45,67,89,56,98,82,32,74,68,59,90,73]

In [59]:
result_final= list(filter(lambda output: output>85,my_marks))

In [60]:
result_final

[89, 98, 90]

# u r an director of a clg,u want to grade students based on their marks in the exam in A,B,C,D,E,FAIL
90 >= A <= 100
80 >= B <= 89
70 >= C <= 79
60 >= D <= 69
50 >= E <= 59
0  >= FAIL <= 49 
list of marks=[45,67,89,56,98,82,32,74,68,59,90,73]

In [66]:
my_marks

[45, 67, 89, 56, 98, 82, 32, 74, 68, 59, 90, 73]

In [67]:
marks=[45, 67, 89, 56, 98, 82, 32, 74, 68, 59, 90, 73]
def grade(num):
    if num>90:
        return 'a'
    elif num>80:
        return 'b'
    elif num>70:
        return 'c'
    elif num>60:
        return 'd'
    elif num>50:
        return 'e'
    elif num>0:
        return 'fail'

In [68]:
my_grade_list=list(map(grade,marks))

In [69]:
my_grade_list

['fail', 'd', 'b', 'e', 'a', 'b', 'fail', 'c', 'd', 'e', 'b', 'c']